Implementation/TanksFightManager/src/META-INF/wsdl/swcwin.serv.usu.edu_5200/WFStats.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fightManagerId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fightManagerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operatorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="operatorEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogNewGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fightManagerId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gameId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogNewGameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogNewGameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogGameStats">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fightManagerId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="gameId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="stats" type="tns:GameStats" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GameStats">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GameStatus" type="tns:PossibleGameStates" />
          <s:element minOccurs="1" maxOccurs="1" name="CurrentNumberOfPlayers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LargestNumberOfPlayers" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBalloonsThrown" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfBalloonsThatHit" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AmountOfWaterThrown" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AmountOfWaterThatHit" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Winner" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="PossibleGameStates">
        <s:restriction base="s:string">
          <s:enumeration value="InProgress" />
          <s:enumeration value="Won" />
          <s:enumeration value="Cancelled" />
        </s:restriction>
      </s:simpleType>
      <s:element name="LogGameStatsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogGameStatsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LogNewGameSoapIn">
    <wsdl:part name="parameters" element="tns:LogNewGame" />
  </wsdl:message>
  <wsdl:message name="LogNewGameSoapOut">
    <wsdl:part name="parameters" element="tns:LogNewGameResponse" />
  </wsdl:message>
  <wsdl:message name="LogGameStatsSoapIn">
    <wsdl:part name="parameters" element="tns:LogGameStats" />
  </wsdl:message>
  <wsdl:message name="LogGameStatsSoapOut">
    <wsdl:part name="parameters" element="tns:LogGameStatsResponse" />
  </wsdl:message>
  <wsdl:portType name="WFStatsSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogNewGame">
      <wsdl:input message="tns:LogNewGameSoapIn" />
      <wsdl:output message="tns:LogNewGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogGameStats">
      <wsdl:input message="tns:LogGameStatsSoapIn" />
      <wsdl:output message="tns:LogGameStatsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WFStatsSoap" type="tns:WFStatsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogNewGame">
      <soap:operation soapAction="http://tempuri.org/LogNewGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogGameStats">
      <soap:operation soapAction="http://tempuri.org/LogGameStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WFStatsSoap12" type="tns:WFStatsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogNewGame">
      <soap12:operation soapAction="http://tempuri.org/LogNewGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogGameStats">
      <soap12:operation soapAction="http://tempuri.org/LogGameStats" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFStats">
    <wsdl:port name="WFStatsSoap" binding="tns:WFStatsSoap">
      <soap:address location="http://swcwin.serv.usu.edu:5200/WFStats.asmx" />
    </wsdl:port>
    <wsdl:port name="WFStatsSoap12" binding="tns:WFStatsSoap12">
      <soap12:address location="http://swcwin.serv.usu.edu:5200/WFStats.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>